*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: hsl(30, 38%, 92%);
    box-shadow: 0 0 200px rgba(0,0,0,0.9) inset;
}

.container-grid{
    position: relative;
    width: 600px;
    background-color: white;
    display: grid;
    grid-template-columns: 300px 1fr ;
    border-radius: .5em;
}

.content{
    padding: 30px;
    text-align: left;
}

.product-img{
    width: 100%;
    height: 440px;
}


h3{
    letter-spacing: 5px;
    color: hsl(228, 12%, 48%);
    font-family: Montserrat, sans-serif;
    font-size: 14px;
    font-weight: 500;
}

h1{
    font-size: 36px;
    margin-top: 15px;
    margin-bottom: 20px;
    font-family: Frauces;
    font-weight: 700;
}

p{
    color: hsl(228, 12%, 48%);
    font-family: Montserrat;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
}

#current-price{
    vertical-align: middle;
    display: inline-block;
    color: hsl(158, 36%, 37%);
    font-family: Fraunces;
    font-weight: 700;
    margin-right: 10px;
}

#previous-price{
    color: hsl(228, 12%, 48%);
    font-family: Montserrat;
    font-size: 14px;
}

.add-to-cart-button{
    padding-top: 15px;
    padding-bottom: 15px;
    font-size: 14px;
    font-weight: 700;
    width: 100%;
    color: white;
    background-color: hsl(158, 36%, 37%);
    border: none;
    border-radius: .5em;
}

.add-to-cart-button:hover{
    background-color: hsl(160, 54%, 19%);
    box-shadow: 5px 5px 10px rgba(0, 0, 0, .4);
}